*,
*::before,
*::after{
    box-sizing: border-box;
}
section{
    padding: 120px 0;
}
h1,h2,h3,h4,p{
    margin-top: 0;
    margin-bottom: 0;
}
div{
    display: block;
}
ul,ol,li{
    margin:0;
   
    padding-left: 0;
    list-style: none;
}
main{
    flex-grow: 1;
}
.body {
  
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color:  #FFFFFF; 
 
    
   
}
.container {
    margin-left:auto;
    margin-right:auto;
    width: 1158px;
   padding: 0 15px 0 15px;
   
    
    
 
}
.section{
    padding: 120px 0;
    
}

img {
    display: block;
    
}
/* ====== header===========*/
.head-list{
    color: #ffffff;
border-bottom: 1px solid #E7E9FC;
box-shadow:  0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);;
padding-top: 24px;
padding-bottom: 24px;



     
}
.name-link{
    position: relative;
    font-weight: 500;
   
    font-size: 16px  ;
    line-height: 1.5;
    letter-spacing: 0.02em;
   color: #2e2f42;
   padding:26px 0;
   
   text-transform:initial;
   text-decoration: none;
   transition : color 250ms cubic-bezier(0.4, 0, 0.2, 1);
     
    }
    .name-link:focus,
    .name-link:hover{
        color: #404BBF;
    }
.current{
 position: relative;
 color: #404BBF;
 

}



.current::after{
    content: "";
    width: 100%;
        border-radius: 2px;
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 4px;
       background-color: #404bbf;
        position: absolute;
        
    }
.nav-studio-logo {
    font-weight:  700;
    font-size:18px; 
    line-height: .16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
  

.logo-name-web{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
   width: 115px;
    list-style-type: none;
    text-decoration: none;
    margin-right: 76px;

}
.logo-span-studio{
        font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
   
 }
 .head-title-link{
    list-style-type: none;
    display: flex;
    gap: 40px;
    margin: right 0;
 
    
   
}


.address-web-link{
    font-style: normal;
    list-style-type: none;
    margin-left :332px;
}
.address-link-mail{
    font-style: normal;
    display: flex;
gap: 40px;
margin-right: 0;
}
.mail-link{
    font-size: 16px;
    line-height:1.5;
    letter-spacing:0.02em ;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.mail-link:hover,
.mail-link:focus{
    color: #404bbf;
    
}
.logo-style-list{
    display: flex;
    justify-content: space-between;
    align-items: center;
 }

/* ====== section1===========*/
.one-item{
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/people-office.jpg);
    display:block ;
    max-width: 1440px;
    background-size: cover;
    background-color: #2e2f42;
    padding: 188px 0;
    margin-left: auto;
    margin-right: auto;
    background-repeat: no-repeat;
    background-position: center;
    }
.button-type{
    display:block ;}
.section-list-name{
    font-weight: 700;
font-size: 56px;
line-height: 1.07143;
letter-spacing: 0.02em;
text-align: center;
color: #fff;
display: block;
max-width: 496px;
align-items: center;
margin-left: auto;
margin-right: auto;

}
.button-link-design{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
   text-align: center;
    color: #fff;
    cursor: pointer;
    border: none;
    background-color:#4d5ae5;
     display: block;
     margin-right:auto;
   margin-left: auto;
   height: 56px;
   border-radius: 4px;
   margin-top: 48px;
   min-width: 169px;
   transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-link-design:focus,
.button-link-design:hover{
    background-color: #404BBF;
}

/* ====== section2===========*/
.section-two-item{
    padding-top:120px;
    padding-bottom: 120px;
}
.icon-class{
    display: flex;
    gap: 24px;
}
.icon-foto{
    border: 1px solid #8e8f99;
border-radius: 4px;
background: #f4f4fd;
width: 264px;
margin-bottom: 8px;

}
.section-two-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
    border: 1px solid #8e8f99;
   
}





.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.section-list-character{
    display: flex;
    gap: 24px;
    margin-right: 0;
    text-align: left;
}
.sections-number-list{
    width: calc((100% - 72px) / 4);
    }
.sections-number-list:last-child{
margin-right: 0;
}
 .section-list-names{
    
   margin-bottom: 8px; 
   font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
    }
    .character-option-list{
       
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        
     
        
        
    }
  .icon-list-section-tree{
    margin-top: 8px;

  }
/* ====== section3===========*/

.section-team-foto{
    background: #f4f4fd;
    max-width: 1440px;
   
  
    
    
    
    }
.header-title-name{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px;
   text-align: center;
}
    
.section-font-style{
        gap: 24px;
        display: flex;
      
        
        
        
}
.icon-list-section-tree{
    display: flex;
    justify-content: center;
    gap: 24px;
    background-repeat: no-repeat;
    background-position: center;
    

}
.icon-list{
    
    display: flex;
    margin-top:8px;
    padding-bottom:32px;
    gap:24px;
    padding-left:16px;
    padding-right:16px;
    fill: #f4f4fd;
  
   
  
}


.id-pictures-website{
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius:50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
}

.id-pictures-website:hover,
.id-pictures-website:focus{
    background-color: #404bbf;
}
.icon-id-repeat{
    fill: #f4f4fd;
}

.icon-id-one{
    display: flex;
    justify-content: center;
    align-items:center;
    width:40px;
    height: 40px;
    


}

   


.foto-people{
    background-color: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    box-shadow:0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.names-workers{
    padding: 32px 0;


   
}
.name-person-work{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
  
  text-decoration: none;
    }
    .team-foto-people{
        list-style-type: none;  
    }
    .section-font-style{
        list-style-type: none;
    }

.character-option-list-second{
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;
color: #434455;

}





/* ====== section4===========*/

.portfolio-items{
   
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
    font-weight: 700;
font-size: 36px;
line-height: 1.11111;
letter-spacing: 0.02em;
text-transform: capitalize;
text-align: center;
color: #2e2f42;
}
.list-images{
    display: flex;
    column-gap: 24px;
    row-gap: 48px;
    flex-wrap: wrap;
    margin-right: auto;
 }
 .thumb{
    position:relative ;  
    overflow: hidden;


 }
 .thumb:hover .text-overlay{
    transform: translateY(0%);
 }
.foto-app{
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
   
    width: calc((100% - 48px) / 3);
   

    
}
.foto-app:hover{
   
    box-shadow:  0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);

}
.text-overlay{
    position: absolute;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
top:0;
height: 100%;
width:100%;
padding: 40px 32px;
background-color: #4d5ae5;
transform: translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.categories-app{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
  
}

.name-person-work-two{
    text-align: left;
    margin-bottom: 8px;
    font-weight: 500;
font-size: 20px;
line-height: 1.2;
letter-spacing: 0.02em;
color: #2e2f42;
}
.character-option-list-two{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
/* ====== footer===========*/
.footer-class{
    padding: 100px 0;
background-color : #2e2f42;

 }

 .footer-logo-ic{
    display: flex;
    align-items: baseline;
    
 }
 .whole-footer{
  margin-right: 120px;
 }

 .social-media-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;;

 }
.footer-list-icon{
    display: flex;
    gap: 16px;;
}


.logo-icon-footer{
   width: 40px; 
    height: 40px;
    
}
.logo-list-link:focus,
.logo-list-link:hover{
    background-color: #31d0aa;
}
.logo-list-link{
    width: 100%;
height: 100%;
background-color: #4d5ae5;
display: flex;
align-items: center;
justify-content: center;
border-radius: 50%;
color: #fff;
transition:background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo-list-icon{
    fill: #f4f4fd;
}
.logo-footer{
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height:  1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    margin-bottom: 16px;
    display: inline-block;
    text-decoration: none;
   
}

.pictures-social-media{
    display: block;
align-items: center;
justify-content: center;
}
.logo-name-studio{
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16667;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}
.footer-text-list {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    max-width: 264px;
}
.logo-icon-footer{
    color: #FFFFFF;
}



 
 
